
body{
    margin:0;
    padding: 10px;
}
/* header */
.header{
    border-bottom: 1px solid black;
    
}
.header .nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}
.header .nav .account{
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left:15px;
}
.header .nav .account img{

    width: 2em;
    height: 2em;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding-right: 10px;
    justify-content: center;
}
.header .nav .nav-set{
    display: flex;
    font-size: 24px;
    
}
.header .nav .nav-set a{
    margin: 10px 10px 10px 0 ;
    text-decoration: none;
    color: black;
}
.header .nav .nav-set a:not(:first-child)::before{
    
    content:"/";
    margin-right: 10px;
    
}
.header h1{
    font-family: "Nanum Pen Script", cursive;
    padding:0;
    margin:0;
}
.header .title p{
    padding: 0 ;
    margin:0;

}
.header .title{
    display: block;
    width: fit-content;
    margin: 100px auto ;
    text-align: center;
    
}
.header .title{
    font-size: 50px;
}
.header .title p{
    font-size: 30px;
    color: gray;
}
/* Main */

.main .content{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main .content h2{
    font-family: "Nanum Pen Script", cursive;
    font-size: 40px;
}
.main .content h4{
    font-family: "Nanum Pen Script", cursive;
    font-size: 30px;
}
.main .content .projects{
    display: block;
    width: 20%;
    
    box-sizing: border-box;
    border-right: 1px solid black;
}

.main .content .projects .parttitle{
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    border-right: none;
 
    padding-left: 30px;
}
.main .content .projects p{
    font-size: 24px;
}
.main .content .projects a{
    display: block;
    max-width: 100%;
    padding: 10px 0;
    font-size: 24px;
    text-align: left;
    text-decoration: none;
    color:black;
    padding-left: 30px;
}
.main .content .projects a:not(:last-child){

    border-bottom: 1px solid black;
    
}
.main .content .projects a:last-child{
    content: '';
    
    /* background: red; */
}
.main .content .experience{
    display: block;
    width: 50%;
    box-sizing: border-box;
    
}
.main .content .experience .parttitle{
    width: 100%;
    padding-left: 20px;
}
.main .content .experience .experience-item{
    border-top: 1px solid black;
    padding: 20px;
    font-size: 24px;
}
.main .content .experience .experience-item a{
    font-size: 20px;
}
.main .content .experience .experience-item h4{
    padding: 0;
    margin: 0;
}
.main .content .experience .experience-item a{
    text-decoration: none;
    color: blue;
}
.main .content .education{
    display: block;
    width: 30%;
    box-sizing: border-box;
    border-left: 1px solid black;
    padding-left: 0px;
    font-size: 24px;
    padding-left: 25px;
}
.main .content .education .parttitle{
    border: none;
    width: 100%;
    padding-left: 0px;
    
}
.main .content .education ul{

    display: block;
    box-sizing: border-box;
    list-style-type: "- ";
    margin: 0;
    
    padding-left: 15px;

}
/* Footer */
.footer {
    border-top: 1px solid black;
    padding: 25px;
    
}

.footer .review h2{
    margin:0;
    margin-left: 30px;
    font-family: "Nanum Pen Script", cursive;
    font-size: 40px;
}
.footer .review .review-set{
    display: flex;
    margin-left: 15px;
    /* margin-bottom: 200px; */
    /* justify-content: space-around; */
    
}
.footer .review .review-set .review-item{
    display: block;
    aspect-ratio: 1.2 / 1;
    border: 1px solid black;
    border-radius: 25px;
    width: 25%;
    padding: 15px; 
    margin: 30px;
    font-size: 24px;
    
    
}
.footer .review .review-set .review-item h3{
    font-weight: normal;
  
}
.footer .review .review-set .review-item p{
    color: gray;
}

.footer .reserve{
    display: block;
    width: 100%;
    text-align: center;
    margin: 200px auto 300px auto;
    font-family: "Nanum Pen Script", cursive;
    font-size: 24px;
}

/*narrow scene*/
@media (max-width: 768px) {
    body{
        padding: 15px;
    }
    /* header */
    .header .nav {
        display: flex;
        flex-direction: column;
    }
    .header .nav .account {
        display: flex;
        flex-direction: column;
    }
    .header .nav .account img{
        
        aspect-ratio: 1 / 1;
        display: block;
        width: 50%;
    }
    .header .nav .account p{
        margin: 10px auto;
        display: block;
        width: 100%;
        font-size: 22px;
    }
    .header .nav .nav-set a{
        font-size: 20px;
    }
    .header .title{
        margin: 0px auto 30px auto; 
        font-size: 1em;
    }
    .header .title p{
        margin:0 auto; 
        font-size: 20px;
        
    }
    /* Main */
    .main .content .projects{
        display: 0 0 flex;
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        
    }
    .main .content .projects .parttitle{
        padding:0;
        margin:0;
        text-align: center;
    }
    .main .content .projects .parttitle h2{
        padding:5px;
        margin:0;
    }
    .main .content .projects a{
        background-color: rgb(226, 228, 228);
        text-align: center;
    }

    .main .content .experience{
        display: 0 0 flex;
        width: 100%;
        border: none;
        
    }
    .main .content .experience .parttitle{
        padding:0;
        margin:0;
        text-align: center;
    }
    .main .content .experience .parttitle h2{
        padding:5px;
        margin:0;
    }
    .main .content .education{
        display: 0 0 flex;
        width: 100%;
        border: none;
        border-top: 1px solid black;
        padding-bottom: 20px;
    }
    .main .content .education .parttitle{
        padding:0;
        margin:0;
        text-align: center;
    }
    .main .content .education .parttitle h2{
        padding:5px;
        margin:0;
    }
    .main .content .education p{
        padding:0;
        margin:8px auto;
    }
    /* Footer */
    .footer{
        margin: 0; 
        padding: 10px;
    }
    .footer .review h2{
        padding-top: 10px;
        
    }
    .footer .review{
        padding:0;
        margin:0;
        display: 0 0 flex;
        width: 100%;
      
        border: none;
        
       
        
    }
    .footer .review .review-set{
        padding:0;
        margin:0;
        display: flex;
        flex-direction: column;
    
    }
    .footer .review .review-set .review-item{
        display: block;
        width: fit-content;
        padding:20px;
        aspect-ratio: unset;
        margin: 10px 0;
        display: block;
        
    }
    .footer .review .review-set .review-item:not(:first-child){
        display: none;
        background: red;
    }
    .footer .review .review-set .review-item h3{
        padding:0;
        margin:0;
        padding-bottom:10px;
        
        font-size: 20px;
    }
    .footer .review .review-set .review-item p{
        padding:0;
        margin:0;
        font-size: 20px;
    }
    .footer .reserve{
        padding:0;
        margin: 2px 0 -10px 0;
       
    }

}